html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.body {
  margin: 0 auto;
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, serif;
  font-style: 400px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Кольори для макету 
колір у шапці, голубий color: #2196f3;
колір шапки чорний color: #212121;
білий колір шрифтів color: #FFFFFF;
напівпрозорий чорний color: #757575;
напівпрозорий білий у футері color: rgba(255, 255, 255, 0.6);
колір кнопки "Заказать услуги" background: #2196F3;
у футері найнижчий рядок color: rgba(255, 255, 255, 0.4);
*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: #2196f3;
}

.logo:hover {
  color: #212121;
}
.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item + .item {
  margin-left: 51px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;

  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}
.auth-nav .link {
  color: #757575;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
/* Hero на майбутнє */
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  color: #ffffff;
  background-color: #757575;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Feature */
.section {
  margin-top: 94px;
  margin-bottom: 94px;
}
.section.no-padding {
  margin-top: 94px;
  margin-bottom: 0px;
}
.section.color {
  background-color: #f5f4fa;
}
.feature-list {
  display: flex;
  text-align: center;
}
.feature-list .item + .item {
  margin-left: 29px;
}

.feature-list .team + .team {
  margin-left: 30px;
}

.feature-list .title {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7em;
  text-align: left;
  vertical-align: top;
}

.feature-list .heroes-name {
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19em;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}
.link-social {
  display: flex;
  padding-bottom: 24px;
  margin-top: 16px;
}
.link-social .item + .item {
  margin-left: 10px;
}
/* Section */
.company-name {
  display: flex;
  justify-content: space-between;
}
.company-name .item + .item {
  margin-left: 30px;
  display: block;
}

.section-name {
  color: #212121;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-title {
  color: #212121;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14em;
  margin-top: 30px;
  margin-bottom: 0px;
}

.section-heroes {
  color: #212121;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.19em;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

/* Чем мы занимаемся */
.work-list {
  display: flex;
}
.work-list .item + .item {
  margin-left: 30px;
}

.work-list .title {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 96px;
  padding-right: 95px;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
}

/* Button */
.button {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  display: inline-block;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-style: 700px;
  font-size: 16px;
  line-height: 1.12em;

  letter-spacing: 0.06em;
  text-decoration: none;
}
/* Footer */
.footer {
  padding-top: 48px;
  padding-bottom: 21px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}
.footer-flex {
  display: flex;
}

.footer .logo {
  width: 129px;
  height: 26px;
  margin-top: 48px;
  margin-bottom: 0px;

  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-style: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer .logo-accent {
  color: #2196f3;
}

.footer .logo:hover {
  color: #ffffff;
}
.footer .adress {
  margin-top: 10px;
  margin-bottom: 0px;

  color: #ffffff;
  background-color: #2f303a;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7em;
}
.footer .contacts {
  margin-top: 9px;
  margin-bottom: 0px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.7em;
}
.connection-footer {
  text-align: left;
  margin-left: 179px;
  margin-bottom: 0px;
}
.connection-footer .link-social {
  margin-top: 21px;
  margin-bottom: 0px;
}
.connection-footer .link-social .item + .item {
  margin-left: 10px;
}
.footer-end {
  text-align: left;
  margin-left: 102px;
  margin-bottom: 0px;
}
.connection {
  height: 16px;
  margin-bottom: 21px;
  margin-top: 0px;

  color: #ffffff;
  background-color: #2f303a;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14em;
}
.company {
  margin-top: 18px;
  margin-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);
  background-color: #2f303a;
  font-weight: 400px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
}
.link {
  text-decoration: none;
}

/* Portfolio  */
.our-projects {
  margin-top: 93px;
  margin-bottom: 94px;
}

.button-class {
  margin-bottom: 50px;
  text-align: center;
}

.button-portfolio + .button-portfolio {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.63em;

  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 130px;
  padding: 11px 34px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project .name {
  color: #212121;
  font-weight: 700px;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.project .title {
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.88em;
  margin-top: 4px;
  margin-bottom: 0px;
}

.project .text {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.5em;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
.project .link {
  text-decoration: none;
}
